
.container{
	background-color: blue;
	display: grid;
	height: 100vh;
padding: 7;
	grid-gap: 5px;
		grid-template-areas:
								 "apple"
								 "facebook"
								"microsoft"
								"samsung"
								"google";
	
	grid-template-rows:50px 100px 1fr 100px 50px;
	grid-template-columns:1fr;



}
.container div{
	
	text-align: center;
	color: rgb(208, 24, 224);
	background-color: aqua;


}
#facebook{
	grid-area: facebook;
}
#apple{
	grid-area: apple;

}

#amzon{
	grid-area: amazon;
}
#samsung{
	grid-area: samsung;
}

#google{
	grid-area: google;
}
#microsoft{
	grid-area: microsoft;
}

@media all and (min-width: 700px){
	.container{
	grid-template-rows:30px 1fr 30px 50px;
	grid-template-columns:20% 1fr 20%;
	grid-gap: 5px;
	padding: 7px;
	background-color: green;
	grid-template-areas: "apple apple  apple"
					"facebook microsoft samsung"
					"google google google";


}