*{
    box-sizing: border-box;
}
body{
    background-color: #262626;
}

.header{
    background: linear-gradient(to right, #F9701Af0 0%,#AD032F, #348E95 100%);}

h1{
    text-align: center;
    font-size: 30px;
    color:whitesmoke;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    justify-content: center;
    
}
.container> a{
margin: 20px;
padding: 20px;
width: 310px;
color:whitesmoke;
text-decoration: none;
font-size: 20px;
}

 img{
    width: 310px;
    margin-top: 10px;
    color:whitesmoke;
    padding: 10px;
    height: 200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
}
a:hover{
    font-size:1em; 
    box-shadow: 10px 10px 10px 10px rgba(119, 214, 238, 0.75);


}



@media all and (max-width: 770px){

    img{

    
    } 
    a{
 

    }

    a:hover{
        box-shadow: 10px 10px 10px 10px rgba(20, 142, 190, 0.75);
        width: 400px;
        padding: 15px;
        margin: 15px;
    }
    .container{
   
    }
}