*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: large;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    background-color:yellowgreen;
    justify-content: center;
    
}
.container > img{
    max-width: 305px;
    border: 1px solid gray;
    height: 200px;
  
}



@media all and (max-width: 770px){

    img{
        margin: auto;
        padding: 5px;
    }
    .container{
   
    }
}